* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'outfit';
   list-style: none;
   text-decoration: none;
}
body {
   height: 2000px;
   position: relative;
   background: linear-gradient(to right, rgb(32, 176, 243), rgb(107, 5, 240), rgb(233, 38, 240));
   /* background-size: cover; */
}
/* DropDown */
header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   background: linear-gradient(to right, rgb(126, 206, 244), rgb(113, 79, 157), rgb(176, 148, 196));
   padding: 0px 7%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 1000;
}

header h1 {
   color: white;
}

header nav ul li {
   position: relative;
   float: left;
}

header nav ul li a {
   font-size: 20px;
   padding: 20px;
   color: white;
   display: block;
}

header nav ul li a:hover {
   opacity: 0.6;
}

header nav ul li ul {
   position: absolute;
   left: 0;
   width: 200px;
   display: none;
   background: white;
}

header nav ul li ul li {
   width: 100%;
   border-top: 2px solid rgb(0, 0, 0);
}
header nav ul li ul li a {
   color: black;
}

header nav ul li:hover > ul {
   display: initial;
}
/* end */

/* Hero */
.Hero {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   /* background: linear-gradient(to right, rgb(32, 176, 243), rgb(107, 5, 240), rgb(233, 38, 240)); */
   height: 100vh;
   width: 100%;
}

img {
   width: 300px;
}

.container {
   position: relative;
   z-index: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin: 40px 0;
}

.container .card {
   position: relative;
   width: 640px;
   height: 500px;
   background: rgba(225, 225, 225, 0.05);
   margin: 20px;
   box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 14px;
}

.container .card .content {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0.5;
   transition: 0.5s;
}

.container .card:hover .content {
   opacity: 1;
   transform: translateY(-20px);
}

.container .card .content h1 {
   color: white;
   letter-spacing: 3px;
   font-weight: 600;
   font-size: 1.6rem;
   text-align: center;
   margin-left: 23px;
   line-height: 1.1em;
}

.container .card .content h1 span {
   font-size: 1rem;
   font-weight: 300;
}

/* End */

/* About */
#about .about-container {
   flex-direction: column;
   text-align: center;
   max-width: 1200px;
   margin: auto;
   margin-top: 40px;
   padding: 100px 0;
   box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
   background-color: white;
   border-radius: 12px;
}

#about .title-section {
   font-size: 4rem;
   font-weight: 300;
   color: rgb(176, 148, 196);
   margin-bottom: 10px;
   text-transform: uppercase;
   letter-spacing: 0.2rem;
   text-align: center;
}

#about .section-top p {
   font-size: 1rem;
   margin-top: 5px;
   line-height: 2.5rem;
   font-weight: 300;
   letter-spacing: 0.05rem;
   padding-left: 12px;
   padding-bottom: 12px;
}
/* end */

/* Mobile Nav */
#Menu-bar {
   display: none;
}

header label {
   font-size: 20px;
   color: white;
   cursor: pointer;
   display: none;
}

/* end */

/* Media Query */
@media screen and(max-width: 1000px) {
   header {
      padding: 20px;
   }

   .container .card .content {
      opacity: 1;
   }
}

@media screen and (max-width: 700px) {
   header label {
      display: initial;
   }

   header nav {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: rgb(255, 254, 254);
      border-top: 2px solid rgb(0, 0, 0);
      display: none;
   }

   header nav ul li {
      width: 100%;
   }

   header nav ul li a {
      width: 100%;
      color: black;
   }

   header nav ul li ul {
      position: relative;
      width: 100%;
   }

   #Menu-bar:checked ~ nav {
      display: initial;
   }

   .container .card {
      width: 300px;
      height: 420px;
   }

   img {
      width: 190px;
      transform: translate(6.8rem, -6rem);
      position: relative;
   }

   .container .card .content {
      opacity: 1;
   }

   .container .card .content h1 {
      font-size: 1rem;
      letter-spacing: 1px;
      transform: translate(-6.6rem, 8rem);
      width: 200px;
   }

   .container .card .content h1 span {
      font-size: 0.8rem;
      margin-left: 12px;
   }

   .Hero {
      background: linear-gradient(rgb(32, 176, 243), rgb(107, 5, 240), rgb(233, 38, 240));
      overflow: hidden;
   }
}
